.layout{
    display: flex;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 3;
    
  }
  .menu-item{
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
  }
  .menu-item:hover{
background-color: blue;
  }
  .background{
    background-color: blue;
  }